asgiref
autogui
certifi
cffi
charset-normalizer
clr-loader
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
filelock
idna
joblib
MouseInfo
mss
numpy
pandas
Pillow
pipenv
platformdirs
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pythonnet
pytweening
pytz
requests
rubicon-objc
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
urllib3
virtualenv